* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav */
.navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: none;
    height: 73px;
    background-color: #83978E;
}

.logo {
    margin-left: 2%;
}

.leafLogo {
    width: 70px;
    height: 60px;
}

.navItem {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: flex-end;
    margin: 0;
    margin-right: 0%;
    margin-left: auto;
    padding: 0;


}

.navLink {
    margin-right: 4%;
}

.navLink1 {
    margin-right: 2%;
}

.navIcon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 10%;
    padding: 0;

}

.car,
.member {
    margin-right: 25%;

}

@media screen and (max-width: 850px) {


    .navIcon {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 15%;
        padding: 0;

    }

    .icona {
        margin: 0 25%;
    }

    .navLink {
        margin-right: 6%;
    }

    .navLink1 {
        margin-right: 4%;
    }

    .nav-sublist {
        position: absolute;
        background-color: #83978E;
        padding: 0;
        width: 150px;
        display: none;
        right: 104px;
    }

    .car {
        margin: 0 3% 0 2%;
    }

    .member {
        margin: 0 4% 0 1.5%;
    }
}

@media screen and (max-width: 480px) {
    .navIcon {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 25%;
        padding: 0;
        margin-right: 18%;
        margin-left: auto;
    }

}

.navLink2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4%;
    border-bottom: 1px solid #90a29a;
    width: 150px;
    height: 45px;
}

.navLinkblank {
    width: 150px;
    height: 20px;
}

.nava,
.nava1 {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
}

.nav-sublist {
    position: absolute;
    background-color: #83978E;
    padding: 0;
    width: 150px;
    display: none;
    right: 140px;
}

.navLink1:hover .nav-sublist {
    display: block;
}

.navLink1:hover .nava {
    background-color: #83978E;
}

.nav-sublist .navLink2:hover .nava,
.nava:hover,
.nava1:hover {
    color: #2D4263;
}

@media screen and (max-width: 480px) {
    .nav-sublist {
        position: absolute;
        padding: 0;
        width: 100%;
        display: none;
        margin-right: -55px;

    }

    .navLink2 {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #90a29a;
        width: 80%;
        height: 45px;
        margin-left: 60px;

    }
}

/* hamburgernav */
.navham {
    display: none;
    width: 100%;
    height: 500px;
}

.nav_page {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 1422px;
}

.overlay2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 1422px;
    z-index: 2;
    background-color: #83978E;
    overflow-x: hidden;

}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.nav__menu {
    display: none;
    font-size: 2em;
    position: absolute;
    padding: 0 15px;
    border-radius: 4px;
    right: 10px;
}

.change .bar1 {
    transform: translate(0, 9px) rotate(45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -9px) rotate(-45deg);
}





@media screen and (max-width: 480px) {

    .nav__menu {
        display: block;

    }

    .nav__menu:hover {
        background-color: darkgray;
        color: white;
        cursor: pointer;
    }

    .navItem {
        display: none;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .navHamItem {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        width: 100%;
        height: 20%;
        background-color: #83978E;
        right: 0%;
        margin-left: 20px;
    }

    .menu-click {
        display: block;
    }

    .navham {
        display: none;
    }

    /* .car {
        margin: 0 1.5% 10% 20%;
    }
    
    .member {
        margin: 0 3% 0 1.5%;
    } */

}


ul {
    list-style: none;
}


/* body */
.coverphoto {
    width: 100%;
    height: auto;
}

.titlep {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #597066;
    text-align: center;
    margin-top: 60px;
}

.contentArea {
    display: flex;
    justify-content: center;
}

.gallery {
    max-width: 90%;
}

.gallery_item {
    margin-top: 40px;
}

.gallery_item1 {
    margin-top: 100px;
}

.gallery_item-link {
    position: relative;
    display: block;
}

.gallery_item-image {
    max-width: 100%;
    display: block;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -50px;
}

.col {
    padding: 0 50px;
    width: calc(100%/3);
}

/* footer */
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    max-width: none;
    height: 150px;
    background-color: #83978E;
    margin-top: 100px;
    font-family: 'Inter', sans-serif;

}

.footerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin-left: 30%;
}


.box1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.box2 {
    margin-top: 10px;
}

.box2xs {
    display: none;
    margin-top: 30px;
    height: 20px;
}

.footerLink {
    margin: 0 10px;
}

.footera,
.footerp {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.footera:hover {
    color: #2D4263;
}

.footerIcon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icona {
    margin: 0 35%;
}

.fa-instagram,
.fa-line,
.fa-cart-shopping,
.fa-circle-user {
    color: white;
}

@media screen and (max-width: 480px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        height: 320px;

    }

    .footerText {
        display: flex;
        flex-direction: column;
        height: 80%;
        margin-left: 0%;
    }

    .box2 {
        display: none;
    }

    .box1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 10px;
        height: 100%;

    }

    .footerIcon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .box2xs {
        display: block;
    }
}

.overlay {
    display: none;
    background: rgba(0, 0, 0, .65);
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    widows: 100%;
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 35px;
    box-sizing: border-box;
    pointer-events: none;
    font-weight: 100;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

.overlay h3 {
    font-weight: 100;
    margin: 0;
    padding: 0;
}

/* Grid Style */


@media screen and (max-width: 768px) {

    .row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -20px;
    }

    .col {
        padding: 0 20px;
        width: calc(100%/2);
    }

    .icona {
        margin: 0 25%;
    }

    .navLink {
        margin-right: 6%;
    }

    .navLink1 {
        margin-right: 4%;
    }

    .car {
        margin: 0 3% 0 2%;
    }

    .member {
        margin: 0 4% 0 1.5%;
    }

    .gallery_item {
        margin-top: 40px;
    }

    .gallery_item1 {
        margin-top: 40px;
    }

    .overlay {
        padding-top: 40px;
        font-size: 12px;
        font-family: 'Inter', sans-serif;
        font-style: normal;
    }

    .overlay h3 {
        font-weight: 100;
        margin: 0;
        padding: 0;
    }

    .nav-sublist {
        right: 100px;
    }

}

@media screen and (max-width: 480px) {

    .row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
    }

    .col {
        padding: 0 10px;
        width: calc(100%/1);
    }

}

/* .row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;
}

.col {
	width: 100%;
	padding: 0 20px;
} */

.col-md-11 {
    width: 91.662%
}

.col-md-10 {
    width: 83.332%;
}

.col-md-9 {
    width: 75%;
}

.col-md-8 {
    width: 66.662%;
}

.col-md-7 {
    width: 58.331%
}

.col-md-6 {
    width: 50%;
}

.col-md-5 {
    width: 41.662%
}

.col-md-4 {
    width: 33.332%;
}

.col-md-3 {
    width: 25%;
}

.col-md-2 {
    width: 16.662%;
}

.col-md-1 {
    width: 8.332%;
}


@media screen and (min-width: 768px) {

    .col-sm-11 {
        width: 91.662%
    }

    .col-sm-10 {
        width: 83.332%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-8 {
        width: 66.662%;
    }

    .col-sm-7 {
        width: 58.331%
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-5 {
        width: 41.662%
    }

    .col-sm-4 {
        width: 33.332%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-2 {
        width: 16.662%;
    }

    .col-sm-1 {
        width: 8.332%;
    }

}