* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav */
.navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    height: 73px;
    background-color: #83978E;
}

.logo {
    margin-left: 2%;
}

.leafLogo {
    width: 70px;
    height: 60px;
}

.navItem {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: flex-end;
    margin: 0;
    margin-right: 0%;
    margin-left: auto;
    padding: 0;


}

.navLink {
    margin-right: 4%;
}

.navLink1 {
    margin-right: 2%;
}

.navIcon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 10%;
    padding: 0;

}

.car,
.member {
    margin-right: 25%;

}

@media screen and (max-width: 850px) {


    .navIcon {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 15%;
        padding: 0;

    }

    .icona {
        margin: 0 25%;
    }

    .navLink {
        margin-right: 6%;
    }

    .navLink1 {
        margin-right: 4%;
    }

    .nav-sublist {
        position: absolute;
        background-color: #83978E;
        padding: 0;
        width: 150px;
        display: none;
        right: 104px;
    }

    .car {
        margin: 0 3% 0 2%;
    }

    .member {
        margin: 0 4% 0 1.5%;
    }
}

@media screen and (max-width: 480px) {
    .navIcon {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 25%;
        padding: 0;
        margin-right: 18%;
        margin-left: auto;
    }

}

.navLink2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4%;
    border-bottom: 1px solid #90a29a;
    width: 150px;
    height: 45px;
}

.navLinkblank {
    width: 150px;
    height: 20px;
}

.nava,
.nava1 {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
}

.nav-sublist {
    position: absolute;
    background-color: #83978E;
    padding: 0;
    width: 150px;
    display: none;
    right: 140px;
}

.navLink1:hover .nav-sublist {
    display: block;
}

.navLink1:hover .nava {
    background-color: #83978E;
}

.nav-sublist .navLink2:hover .nava,
.nava:hover,
.nava1:hover {
    color: #2D4263;
}

@media screen and (max-width: 480px) {
    .nav-sublist {
        position: absolute;
        padding: 0;
        width: 100%;
        display: none;
        margin-right: -75px;
    }

    .navLink2 {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #90a29a;
        width: 80%;
        height: 45px;
        margin-left: 80px;

    }
}

/* hamburgernav */
.navham {
    display: none;
    width: 100%;
    height: 500px;
}

.nav_page {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 1422px;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 1422px;
    z-index: 2;
    background-color: #83978E;
    overflow-x: hidden;

}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.nav__menu {
    display: none;
    font-size: 2em;
    position: absolute;
    padding: 0 15px;
    border-radius: 4px;
    right: 10px;
}

.change .bar1 {
    transform: translate(0, 9px) rotate(45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -9px) rotate(-45deg);
}





@media screen and (max-width: 480px) {

    .nav__menu {
        display: block;

    }

    .nav__menu:hover {
        background-color: darkgray;
        color: white;
        cursor: pointer;
    }

    .navItem {
        display: none;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .navHamItem {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        width: 100%;
        height: 20%;
        background-color: #83978E;
        right: 0%;
        margin-left: 20px;
    }

    .menu-click {
        display: block;
    }

    .navham {
        display: none;
    }

    /* .car {
        margin: 0 1.5% 10% 20%;
    }
    
    .member {
        margin: 0 3% 0 1.5%;
    } */

}


ul {
    list-style: none;
}



/* body */
.first {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    height: 800px;
    padding-bottom: 100px;
}

/* .picture {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    margin-top: 80px;
    margin-right: 5%;
} */

.clothes {
    max-width: 100%;
    height: auto;
    margin-top: 80px;
}

.intro {
    display: flex;
    justify-content: flex-start;
    width: 45%;
    margin-top: 80px;
    margin-left: 5%;
    font-family: 'Inter', sans-serif;
}

.innerbox {
    width: fit-content;
}

.title {
    margin-top: 0;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 550;
    font-size: 32px;
    line-height: 44px;
    color: #000000;
}

.price {
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 30px 0 20px 0;
}

.act {
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.8);
}

.famount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.famountButton {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1.5px solid #ced4da;
    transition: .2s;
}

.famountButton:hover,
.colorButton:hover {
    cursor: pointer;
}

.famountp {
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.7);
}

.quantity {
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: 5px;
}

.quantityButton {
    background-color: transparent;
    border: none;
}

.fa-minus,
.fa-plus {
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.quantity_number {
    width: 50px;
    height: 30px;
    text-align: center;
}

.colorChoose {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.color1,
.color2,
.color3 {
    width: 15px;
    height: 15px;
    background: #0E205E;
}

.color2 {
    background: #EAE7CD;
}

.color3 {
    background: #B5B5B5;
}

.colorButton {
    background-color: transparent;
    border: 1.5px solid #ced4da;
    padding: 5px;
    margin-right: 20px;
}

.addcar {
    width: 120px;
    height: 40px;
    background: #83978E;
    margin-top: 30px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border: none;
    transition: .1s;
}

.addcar:active {
    transform: scale(1);
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.2);
    border: 2px solid;
    border-top: #000000;
    border-left: #000000;
}

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}

.boxp,
.boxplus {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #000000;

}

.boxButton {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    border: none;
    background-color: transparent;
    font-size: 16px;
}

.boxButton:hover {
    transform: scale(1);
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

hr {
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 100%;
    margin-left: 0%;
}

/* footer */
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    max-width: 100%;
    height: 150px;
    background-color: #83978E;
    margin-top: 100px;
    font-family: 'Inter', sans-serif;

}

.footerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin-left: 30%;
}


.box1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.box2 {
    margin-top: 10px;
}

.box2xs {
    display: none;
    margin-top: 30px;
    height: 20px;
}

.footerLink {
    margin: 0 10px;
}

.footera,
.footerp {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.footera:hover {
    color: #2D4263;
}

.footerIcon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icona {
    margin: 0 35%;
}

.fa-instagram,
.fa-line,
.fa-cart-shopping,
.fa-circle-user {
    color: white;
}

@media screen and (max-width: 480px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        height: 320px;

    }

    .footerText {
        display: flex;
        flex-direction: column;
        height: 80%;
        margin-left: 0%;
    }

    .box2 {
        display: none;
    }

    .box1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 10px;
        height: 100%;

    }

    .footerIcon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .box2xs {
        display: block;
    }
}

/* 彈跳視窗 */

.card_product_page {
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_product,
.card_size,
.card_sizeguide {
    z-index: 99;
    background-color: #FFFFFF;
    width: 1000px;
    height: 600px;
}

.fa-square-xmark {
    z-index: 99;
    color: #83978E;
    margin-top: 10px;
    margin-right: 8px;
    font-size: 30px;
    float: right;
    transition: .1s;
}

.fa-square-xmark:hover {
    cursor: pointer;
}

.fa-square-xmark:active {
    transform: scale(0.9);
}

.cardText {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 70px;
}

.material,
.description,
.size,
.sizeguide {
    width: 100%;
    padding-bottom: 10%;
}

.cardTitle {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin-left: 2%;
    letter-spacing: 2px;
}

.cardhr {
    border: 0.5px solid #83978E;
    width: 95%;
    margin: 1% 0 2% 0;
}

.cardli,
.descriptionp {
    height: 32px;
    font-size: 14px;
    margin-left: 3%;
    color: #888888;
}

.descriptionp {
    line-height: 22px;
}

.sizeTitle,
.sizeContent {
    font-size: 14px;
    margin: 0 2%;
    color: #888888;
    width: 70px;
}

.sizehr,
.sizeguidehr {
    border: 1px solid #83978E;
    width: 95%;
    margin: 1% 0 1% 0;
}

table {
    text-align: center;
}

.sizeguideTitle,
.sizeguideContent {
    font-size: 14px;
    margin: 0 2%;
    color: #888888;
    width: 100px;
}

.sizeguideContent {
    line-height: 30px;
}

/* Grid Style */

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}

.col {
    width: 100%;
    padding: 0 20px;
}


@media screen and (max-width: 850px) {

    .clothes {
        max-width: 80%;
        height: auto;
        margin-top: 80px;
        margin-left: 10%;
    }

    .innerbox {
        width: 90%;
    }

    .title {
        font-size: 28px;
    }

    .famount,
    .box,
    hr {
        width: 100%;
    }


}

@media screen and (max-width: 754px) {

    .first {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: auto;
        padding-bottom: 100px;
    }

    .clothes {
        max-width: 100%;
        height: auto;
        margin-top: 80px;
        margin-left: 0;
    }

    .intro {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 80px;
        margin-left: 5%;
        font-family: 'Inter', sans-serif;
    }

    .innerbox {
        width: 80%;
    }

}

@media screen and (max-width: 480px) {

    .clothes {
        max-width: 80%;
        height: auto;
        margin-left: 10%;
    }

    .title {
        font-size: 24px;
    }

}