* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: none;
    height: 73px;
    background-color: #83978E;
}

.logo {
    margin-left: 2%;
}

.leafLogo {
    width: 70px;
    height: 60px;
}

.navItem {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: flex-end;
    margin: 0;
    margin-right: 0%;
    margin-left: auto;
    padding: 0;


}

.navLink {
    margin-right: 4%;
}

.navLink1 {
    margin-right: 2%;
}

.navIcon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 10%;
    padding: 0;

}

.car,
.member {
    margin-right: 25%;

}

@media screen and (max-width: 850px) {


    .navIcon {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 15%;
        padding: 0;

    }
    .icona {
        margin: 0 25%;
    }

    .navLink {
        margin-right: 6%;
    }

    .navLink1 {
        margin-right: 4%;
    }

    .nav-sublist {
        position: absolute;
        background-color: #83978E;
        padding: 0;
        width: 150px;
        display: none;
        right: 104px;
    }

    .car {
        margin: 0 3% 0 2%;
    }

    .member {
        margin: 0 4% 0 1.5%;
    }

   
}

@media screen and (max-width: 480px) {
    .navIcon {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 25%;
        padding: 0;
        margin-right: 18%;
        margin-left: auto;
    }

}

.navLink2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4%;
    border-bottom: 1px solid #90a29a;
    width: 150px;
    height: 45px;
}

.navLinkblank {
    width: 150px;
    height: 20px;
}

.nava,
.nava1 {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
}

.nav-sublist {
    position: absolute;
    background-color: #83978E;
    padding: 0;
    width: 150px;
    display: none;
    right: 140px;
}

.navLink1:hover .nav-sublist {
    display: block;
}

.navLink1:hover .nava {
    background-color: #83978E;
}

.nav-sublist .navLink2:hover .nava,
.nava:hover,
.nava1:hover {
    color: #2D4263;
}
@media screen and (max-width: 480px) {
    .nav-sublist {
        position: absolute;
        padding: 0;
        width: 100%;
        display: none;
        margin-right: -75px;
    }

    .navLink2 {
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #90a29a;
        width: 80%;
        height: 45px;
        margin-left: 80px;

    }
}

/* hamburgernav */
.navham {
    display: none;
    width: 100%;
    height: 500px;
}

.nav_page {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 1422px;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 1422px;
    z-index: 2;
    background-color: #83978E;
    overflow-x: hidden;

}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.nav__menu {
    display: none;
    font-size: 2em;
    position: absolute;
    padding: 0 15px;
    border-radius: 4px;
    right: 10px;
}

.change .bar1 {
    transform: translate(0, 9px) rotate(45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -9px) rotate(-45deg);
}





@media screen and (max-width: 480px) {

    .nav__menu {
        display: block;

    }

    .nav__menu:hover {
        background-color: darkgray;
        color: white;
        cursor: pointer;
    }

    .navItem {
        display: none;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    .navHamItem {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        width: 100%;
        height: 20%;
        background-color: #83978E;
        right: 0%;
        margin-left: 20px;
    }

    .menu-click {
        display: block;
    }

    .navham {
        display: none;
    }

    /* .car {
        margin: 0 1.5% 10% 20%;
    }
    
    .member {
        margin: 0 3% 0 1.5%;
    } */

}


ul {
    list-style: none;
}

/* body */
.user_page {
    /* height: 500px; */
    width: 100%;
    padding-top: 120px;
    display: flex;
    justify-content: center;
}

.card_login {
    width: 50%;
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;
}

.titlep,
.titlepassward {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #597066;
    margin: 20px 0 50px 0;
}

.titlepassward {
    margin: 20px 0 20px 0;
}

.passwardp {
    margin: 0px 0 20px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.6);
}

.email,
.password,
.name,
.surname,
.submit {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.emailinput,
.passwordinput,
.nameinput,
.surnameinput,
.submitButton {
    width: 75%;
    height: 40px;
    padding: 10px;
    outline: none;
    /* 不要有藍框*/
    border: 1px solid #ced4da;
}

.submitButton {
    background-color: #83978E;
    border: none;
    transition: .1s;
    height: 45px;
}

.submitText {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    letter-spacing: 1px;
}

.submitButton:active {
    transform: scale(1);
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.2);
    border: 2px solid;
    border-top: #000000;
    border-left: #000000;
}

.additional {
    width: 75%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.additionala {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7)
}

.additionala:hover {
    color: #597066;
}

.additional_dot {
    opacity: 0.3;
    padding: 0 10px;
    font-size: 14px;
}

/* footer */
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    max-width: none;
    height: 150px;
    background-color: #83978E;
    margin-top: 100px;
    font-family: 'Inter', sans-serif;

}

.footerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin-left: 30%;
}


.box1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.box2 {
    margin-top: 10px;
}

.box2xs {
    display: none;
    margin-top: 30px;
    height: 20px;
}

.footerLink {
    margin: 0 10px;
}

.footera,
.footerp {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.footera:hover {
    color: #2D4263;
}

.footerIcon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icona {
    margin: 0 35%;
}

.fa-instagram,
.fa-line,
.fa-cart-shopping,
.fa-circle-user {
    color: white;
}
@media screen and (max-width: 480px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        height: 320px;

    }

    .footerText {
        display: flex;
        flex-direction: column;
        height: 80%;
        margin-left: 0%;
    }

    .box2 {
        display: none;
    }

    .box1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 10px;
        height: 100%;

    }

    .footerIcon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    .box2xs {
        display: block;
    }
}