* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav */
.navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: none;
    height: 73px;
    background-color: #83978E;
}

.logo {
    margin-left: 2%;
}

.leafLogo {
    width: 70px;
    height: 60px;
}

.navItem {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

.navLink, .navLink1 {
    margin-right: 4%;
}

.navLink1 {
    margin-right: 2%;
}

.nava {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
}

ul {
    list-style: none;
}


.car {
    margin: 0 1.5% 0 2%;
}

.member{
    margin: 0 3% 0 1.5%;
}

/* body */
.first {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 800px;
    padding-bottom: 100px;
}

.picture {
    width: 30%;
    margin-top: 80px;
    margin-left: 15%;
}

.clothes {
    width: 413px;
}

.intro {
    width: 50%;
    margin-top: 80px;
    font-family: 'Inter', sans-serif;
}

.innerbox {
    margin-left: 10%;
    width: fit-content;
}

.title {
    margin-top: 0;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 550;
    font-size: 32px;
    line-height: 44px;
    color: #000000;
}

.price {
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 30px 0 20px 0;
}

.act {
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.8);
}

.famount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 390px;
    margin-top: 20px;
}

.famountButton{
    width: 30px;
    height: 30px;
    background-color: #c3c3c3;
    background-color: transparent;
    border: 1.5px solid #ced4da;
    transition: .2s;
}

.famountButton:hover, .colorButton:hover{
    cursor: pointer;
}

.famountp {
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.7);
}

.quantity {
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: 5px;
}

.quantityButton {
    background-color: transparent;
    border: none;
}

.fa-minus, .fa-plus {
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.quantity_number {
    width: 50px;
    height: 30px;
    text-align: center;
}

.colorChoose {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.color1, .color2, .color3 {
    width: 15px;
    height: 15px;
    background: #0E205E;
}

.color2 {
    background: #EAE7CD;
}

.color3 {
    background: #B5B5B5;
}

.colorButton {
    background-color: transparent;
    border: 1.5px solid #ced4da;
    padding: 5px;
    margin-right: 20px;
}

.addcar {
    width: 120px;
    height: 40px;
    background: #83978E;
    margin-top: 30px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border: none;
    transition: .1s;
}

.addcar:active {
    transform: scale(1);
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.2);
    border: 2px solid;
    border-top: #000000;
    border-left: #000000;
} 

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 390px;
    height: 50px;
}

.boxp, .boxplus {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #000000;

}

.boxButton {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    border: none;
    background-color: transparent;
    font-size: 16px;
}

.boxButton:hover {
    transform: scale(1);
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 20px;
    height:20px;
}

hr {
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 390px;
    margin-left: 0%;
}

/* footer */
.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    max-width: none;
    height: 150px;
    background-color: #83978E;
    margin-top: 100px;
    font-family: 'Inter', sans-serif;

}

.footerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin-left: 30%;
}


.box1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.box2 {
    margin-top: 10px;
}

.footerLink{
    margin: 0 10px;
}

.footera, .footerp {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.footerIcon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icona{
    margin: 0 35%;
}

.fa-instagram, .fa-line, .fa-cart-shopping, .fa-circle-user{
    color: white;
}

/* 彈跳視窗 */

.card_product_page {
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 900px;
    background-color:#0E205E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_product, .card_size, .card_sizeguide {
    z-index: 99;
    background-color:#FFFFFF;
    width: 1000px;
    height: 600px;
}

.fa-square-xmark {
    z-index: 99;
    color: #83978E;
    margin-top: 10px; 
    margin-right: 8px;
    font-size: 30px;
    float:right;
    transition: .1s;
}

.fa-square-xmark:hover {
    cursor: pointer;
}

.fa-square-xmark:active {
    transform: scale(0.9);
}

.cardText {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 70px;
}

.material, .description, .size, .sizeguide {
    width: 100%;
    padding-bottom: 10%;
}

.cardTitle {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin-left: 2%;
    letter-spacing: 2px; 
}

.cardhr {
    border: 0.5px solid #83978E;
    width: 95%; 
    margin: 1% 0 2% 0;
}

.cardli, .descriptionp {
    height: 32px;
    font-size: 14px;
    margin-left: 3%;
    color: #888888;
}

.descriptionp {
    line-height: 22px;
}

.sizeTitle, .sizeContent {
    font-size: 14px;
    margin: 0 2%;
    color: #888888;
    width: 70px;
}

.sizehr, .sizeguidehr {
    border: 1px solid #83978E;
    width: 95%; 
    margin: 1% 0 1% 0;
}

table {
    text-align: center;
}

.sizeguideTitle, .sizeguideContent {
    font-size: 14px;
    margin: 0 2%;
    color: #888888;
    width: 100px;
}

.sizeguideContent {
    line-height: 30px;
}